@font-face {
	font-family: "Be Vietnam Pro";
	src: url("./../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Be Vietnam Pro";
	src: url("./../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Be Vietnam Pro";
	src: url("./../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf");
	font-weight: 700;
}

:root {
	--bright-red: hsl(12, 88%, 59%);
	--dark-blue: hsl(228, 39%, 23%);
	--dark-grayish-blue: hsl(227, 12%, 61%);
	--very-dark-blue: hsl(233, 12%, 13%);
	--very-pale-red: hsl(13, 100%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
}

/* CUSTOM RESETS */
body {
	margin: unset;
}
a {
	text-decoration: none;
	color: unset;
}
button {
	background: unset;
	border: unset;
	cursor: pointer;
}
/* END CUSTOM RESETS */

/* LAYOUT */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.3rem;
}
img {
	width: 100%;
	height: auto;
}
header img {
	margin-top: 1rem;
	width: 80%;
}
header .cta-button {
	display: none;
}
/* END LAYOUT */

/* COLORS AND TYPOGRAPHY */
.hide {
	display: none;
}

body {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 16px;
	color: var(--dark-blue);
	background-image: url("./../images/bg-tablet-pattern.svg");
	background-repeat: no-repeat;
	background-position: top -5vh right -15vw;
	background-size: 100% auto;
}

h2 {
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}

p {
	color: var(--dark-grayish-blue);
	line-height: 1.5rem;
}

.cta-button {
	background-color: var(--bright-red);
	color: var(--very-light-gray);
	padding: 0.5rem 1rem;
	border-radius: 12rem;
}
.cta > .cta-button {
	background-color: white;
	color: var(--bright-red);
}
ol {
	list-style: none;
	counter-reset: counter;
}
li {
	counter-increment: counter;
	margin: 0.25rem;
}
.features li::before {
	content: counter(counter);
	background: var(--bright-red);
	padding: 0.1rem 1.5rem;
	border-radius: 3rem;
	display: inline-block;
	line-height: 2rem;
	color: white;
	text-align: center;
	margin-right: 0.5rem;

	position: static;
	z-index: 1;
}

footer li {
	list-style-type: none;
}

.testimonials article {
	background-color: var(--very-light-gray);
}

.toggle-mobile-menu {
	background-image: url("./../images/icon-hamburger.svg");
	background-position: center right;
	width: 3rem;
	height: 3rem;
	background-repeat: no-repeat;
}

section.cta {
	background-color: var(--bright-red);
	color: var(--very-light-gray);
}

footer {
	background-color: var(--very-dark-blue);
	color: var(--dark-grayish-blue);
}

footer input {
	border: unset;
	border-radius: 12rem;
	padding: 0.5rem 1rem;
	padding: 1rem 1.5rem;
}

footer input[type="submit"] {
	color: white;
	background-color: var(--bright-red);
}
/* END COLORS AND TYPOGRAPHY */

.mobile-menu-open .toggle-mobile-menu {
	background-image: url("./../images/icon-close.svg");
}

/* MOBILE MENU */
nav {
	display: none;
}
nav.mobile-menu-open {
	display: flex !important;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 82%;
	top: 7rem;
	left: 1rem;
	right: 1rem;
	padding: 1rem;
	height: 30vh;
	z-index: 2;
}
header.mobile-menu-open::after {
	content: "";
	display: block;
	background-color: green;
	opacity: 50%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.mobile-menu-open a {
	margin-bottom: 1rem;
}
/* END MOBILE MENU */

/* HERO SECTION */
.hero {
	display: flex;
	flex-direction: column;
}
.hero > div {
	order: 1;
	text-align: center;
	padding: 2rem;
}
.hero > div h2 {
	font-size: 2rem;
}
/* END HERO SECTION */

/* FEATURES SECTION */
.features > div {
	text-align: center;
	font-size: 0.9rem;
	padding: 2rem 1.4rem;
}
.features > div h2 {
	font-size: 2rem;
}
.features ol {
	padding: unset;
	margin-left: 1rem;
}
.features li {
	display: grid;
	min-height: 20vh;
	height: fit-content;
	grid-template-columns: 4rem 1fr;
	grid-template-rows: 2rem 1fr;
	margin: unset;
}
.feature-short {
	color: var(--dark-blue);
	font-weight: 700;
	margin: unset;
	grid-column-start: 2;
	background-color: var(--very-pale-red);
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	margin-left: -2.7rem;
	font-size: 1rem;
}
.feature-short + p {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	padding-right: 2rem;
}
/* END FEATURES SECTION */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
